* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.2), #009688 99%), url(./../media/ocean-2661830_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h2 {
    position: absolute;
    top: 4%;
    left: 10%;
    color: #000;
}

.banner_text {
    text-align: center;
    padding-top: 150px;
    color: white;
}

.banner_text h1 {
    text-transform: capitalize;
    font-size: 80px;
    margin-bottom: 10px;
}

.banner_text p {
    font-style: italic;
    font-size: 28px;
    color: #031321;
    text-transform: capitalize;
}

.banner_btn {
    margin: 70px auto 0;
}

.banner_btn a {
    text-decoration: none;
    width: 120px;
    color: white;
    padding: 12px 0;
    display: inline-block;
    margin: 0 12px;
    font-size: 20px;
    border: 0.5px solid white;
    position: relative;
    z-index: 1;
}

.banner_btn a:hover {
    color: black;
}

.banner_btn a span {
    position: absolute;
    content: '';
    height: 100%;
    width: 0;
    background: white;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 1s;
}

.banner_btn a:hover span {
    width: 100%;
}

#sideNave {
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    background: #054a43;
    height: 100vh;
    transition: 0.8s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    position: relative;
    font-weight: 600;
}

/* #menu_btn{
    width: 400px;
    background: #009688;
    height: 299px;
} */
#menu_btn i {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 28px;
    color: #009688;
    cursor: pointer;
    width: 40px;
    border-radius: 4px;
}

nav ul li a::before {
    position: absolute;
    content: '';
    width: 0;
    height: 4px;
    border-radius: 8px;
    left: 0;
    bottom: -10px;
    background: white;
    transition: 1s;
}

nav ul li a:hover::before {
    width: 100%;
}

/* features */
#features {
    width: 100%;
    padding: 70px 0;
}

.title_text {
    text-align: center;
    padding-bottom: 70px;
}

.title_text p {
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title_text p::after {
    content: '';
    width: 50px;
    height: 30px;
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transition: 0.5s;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title_text h1 {
    font-size: 50px;
    text-transform: capitalize;
}

.features_box {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    flex-wrap: wrap;
}

.features {
    flex-basis: 50%;
    /* width: 20%; */
}

.features_img {
    display: block;
    flex-basis: 50%;
    margin: auto;
}

.features_img img {
    height: 400px;
    border-radius: 10px;
    width: 60%;
}

.features h1 {
    text-align: left;
}

.features_desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.features_icon .fa {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 6px;
    color: #009688;
    border: 1px solid #009688;
    margin-right: 10px;
}

.features_text p {
    padding: 0 20px;
    text-align: initial;
}


@media screen and (max-width: 768px) {
    .banner_text h1 {
        font-size: 44px;
    }

    .banner_text p {
        font-size: 14px;
    }

    .banner_btn a {
        margin: 20px auto;
        display: block;
    }

    .features_box {
        flex-direction: column;
    }

    .features_img {
        height: 400px;
    }

    .features_img img {
        height: 400px;
        width:  100%;
    }
    .title_text h1{
        font-size: 35px;
    }

}